@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-size: large;
}

#txt-input{
    width: 80%;
    display: block;
    height: 20vh;
    padding: 0.5rem;
    margin: 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

#btn-translate{
    background-color: coral;
    border: 1px solid coral;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 0 2rem;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    padding: 0.5rem;
    margin: 0 2rem;
    font-size: x-large;
    overflow: auto;
}

.container-center{
    margin:auto;
    width: 80%;
}

.header{
    background-color: coral;
    padding: 1rem;
    margin-top: 0;
    text-align: center;
}

h2{
    padding: 1rem;
    text-align: center; 
}

.about{
    background: coral;
    padding:1px 2rem;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 0;
}